body{
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    font-size: 60px;
    background-color: rgb(71, 219, 219);
    box-shadow: 3px 3px 6px black;
    padding: 5px;
    color: lightcoral;
    margin: 10px 0 40px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: pink;

}
p{
    margin: 5px 10px;
    color:black;
    text-align: center;
    
}
.content{
    width: 80%;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;

}
div{
    text-align: center;
    font-size: large;
}