body{
    background-image: url(https://wallpapercave.com/w/wp2559551);

}
h1{
    font-size: 40px;
    background-color: rgb(71, 219, 219);
    box-shadow: 3px 3px 6px black;
    padding: 5px;
    color: red;
    margin: 10px 0 40px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: pink;

}
p{
    margin: 5px 10px;
    color:blue;
    text-align: justify;
}