body{
    background-color: wheat;
}
h1{
    font-size: 40px;
    background-color: rgb(71, 219, 219);
    box-shadow: 3px 3px 6px black;
    padding: 5px;
    color: blueviolet;
    margin: 12px 0 42px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: palevioletred;

}
p{
    margin: 5px 10px;
    color:blue;
    text-align: justify;
}